@{
    
}
<div class="">
    <div class="panel panel-default">
        <div class="panel-body" style="text-align:center;">
            <div>
                <img src="~/Assets/logo_ocesa.png" height="100px" />
            </div>

            <h1 style="text-align: center;  margin-top: 0; margin-bottom: 20px;">Dear @ViewBag.NombreCompleto Your invitation has been confirmed</h1>
            <h4 style="text-align: center;  margin-top: 0; margin-bottom: 20px;">We expect your arrival to México</h4>
            <hr />
            <h1 style="text-align: center;  margin-top: 0; margin-bottom: 20px;">Apreciable @ViewBag.NombreCompleto Tu invitación ha sido confirmada</h1>
            <h4 style="text-align: center;  margin-top: 0; margin-bottom: 20px;">Esperamos tu llegada a México</h4>
        </div>
    </div>
</div>

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        hideLoader();


    });


</script>