@{

}

<div class="jumbotron">
    <h1 style="text-align: center; font-size: 40px; margin-top: 0; margin-bottom: 20px;">Tutorial en Español</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
            <source src="@Url.Content("~/resources/TutorialESP.mp4")" type="video/mp4" />
        </video>
    </div>
    <h1 style="text-align: center; font-size: 40px; margin-top: 0; margin-bottom: 20px;">English Tutorial</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
            <source src="@Url.Content("~/resources/TutorialENG.mp4")" type="video/mp4" />
        </video>
    </div>
</div>

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        hideLoader();


    });

</script>

