<html>
<body>

    <h2>
        Dear @Model?.Name:
    </h2>
    <div>
        <p>According to the information provided, you only need to present your current passport and the documents attached to this email.</p>
        <ul>
            <li>
                It does not require a specific visa for the activities that will be carried out.
            </li>
            <li>
                If the information provided is incorrect or false, the immigration authorities may deny entry. If the information is correct, for legal entry to Mexico, you are only required to present to the Mexican Migration Authorities your passport legally issued by the authorities of your country of citizenship, (with a validity of at least 6 months after your arrival to Mexico). and the Multiple Migration Form (FMM), which will be delivered on commercial flights, or will be available upon arrival, of which a model with instructions for filling it out is attached in the attached FMM file.
            </li>
            <li>
                It is important that documents are secure during your visit. In addition to these documents, the authority may require proof of the reason for your stay, for which you must present <b><u>the attached personalized Letter of Invitation</u></b>, which <b><u>must be presented in print to the immigration authorities together with your passport.</u></b>
            </li>
            <li>All documents must be kept secure during your visit.</li>
        </ul>
        <p>To complete the process of your invitation, you need to confirm in the following link:</p>
        <p style=""><a href="@Model?.UrlToConfirm" style="background:blue;color:white;">CONFIRM THAT YOU RECEIVED THE INVITATION LETTER CLICK HERE.</a>.</p>
        <p>If you have any questions, please do not hesitate to contact us at <a href="mail:to talentoextranjero@ocesa.mx">talentoextranjero@ocesa.mx</a></p>

    </div>
</body>
</html>


