<!DOCTYPE html>
<html>
<body>

	<h2>
		Dear @Model?.Name:
	</h2>
	<div>
		<p>According to the information provided, <b>you require an ENTRY VISA TO MEXICO</b> for the activities that will take place at the event, due to your nationality you have restricted access by the Mexican authorities. If you are a citizen of a country indicated on the <a href="https://www.inm.gob.mx/gobmx/word/index.php/paises-requieren-visa-para-mexico/">"Restricted Nationalities"</a>list but have any of the following documents, you do not need to obtain a visitor visa:</p>
		<ol type="a">
			<li>
				A document certifying permanent residence in Canada, the United States, Japan, the United Kingdom of Great Britain and Northern Ireland, or any of the Schengen Area countries;
			</li>
			<li>
				Valid visa of the United States of America.
			</li>
			<li>
				In case that the guest is a citizen of Russia, Ukraine or Turkey and DOES NOT HAVE any of the documents referred to in sections a) and b) above is necessary to obtain an electronic visa, at least 30 days before the trip, through the following link: <a href="https://www.inm.gob.mx/sae/publico/ru/solicitud.html">"https://www.inm.gob.mx/sae/publico/ru/solicitud.html"</a>
			</li>
		</ol>
		<ul>
			<li>
				If you do not have any of the documents mentioned above, you must obtain a visitor visa without permission to participate in paid activities at a Mexican Consulate of your choice and pay a fee of $54.00 US dollars directly at the Mexican Consulate.
			</li>
			<li>
				The consular offices may collect the fees in the local currency authorized by the Mexican authorities and inform you of the procedure for the corresponding payment. The maximum term for resolution of the process once submitted is 10 business days and the maximum duration of the visa is 180 days.
			</li>
			<li>
				To obtain your visa, you will request the original of the attached letter of invitation; we suggest you review the requirements listed in the attached file "Procedure_for_restricted_nationalities" before going to the consulate to obtain your visa, which is personal and cannot be done by third parties.
			</li>
			<li>
				In the following link you can consult the Consulates Embassies of Mexico abroad, their opening hours and contact numbers: <a href="https://portales.sre.gob.mx/directorio/index.php/consulados-de-mexico-en-el-exterior">https://portales.sre.gob.mx/directorio/index.php/consulados-de-mexico-en-el-exterior</a>
			</li>
		</ul>
		<p>
			To complete the process of your invitation, you need to confirm in the following link:
		</p>
		<p style="">
			<a href="@Model?.UrlToConfirm" style="background:blue;color:white;">
				CONFIRM THAT YOU RECEIVED THE INVITATION LETTER CLICK HERE.
			</a>.
		</p>
		<p>
			If you have any questions, please do not hesitate to contact us at <a href="mail:to talentoextranjero@ocesa.mx">talentoextranjero@ocesa.mx</a>
		</p>

	</div>
</body>
</html>


